/* Spot Colors */
:root
{
    --sss-blue: rgba(37, 57, 120, 1);
    --sss-red: rgba(189, 33, 69, 1);
    --sss-gold: rgba(251, 216, 0);
    --sss-light-silver: #EAEAEA;
    --sss-dark-silver: #AAAAAA;
}

/* Remove Browser Default Margins */
*
{
    margin: 0;
    padding: 0;
}

/* Set Font for Text Elements */
h1, h2, h3, h4, h5, p, a
{
    font-family: proxima-nova;
}

/* Link Styling */
a
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
    a:hover, input[type='submit']:hover
    {
        text-shadow: 1px 0px 0px var(--sss-dark-silver);
    }

/* Body */
body
{
    background: #141414;
    font-size: 1em;
}
    /* Center Content (Forms) in Window */
    .center_field
    {
        width: 100%;
        height: auto;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
